<p>
  <strong>Text:</strong>
  <%= @quote.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= @quote.author %>
</p>

<p>
  <strong>Source:</strong>
  <%= @quote.source %>
</p>

<p>
  <strong>Char length:</strong>
  <%= @quote.char_length %>
</p>

<p>
  <strong>Category:</strong>
  <%= @quote.category %>
</p>

<% if @quote.library.owner == current_user %>
  <%= link_to 'Edit', edit_quote_path(@quote), class: "btn btn-primary"%>
<% end %>
