<h1>Listing Libraries</h1>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @libraries.each do |library| %>
        <tr>
          <td><%= link_to library.name, library %></td>
          <td><%= shorten(library.description, 40) %></td>
          <td><%= link_to 'Edit', edit_library_path(library) %></td>
          <td><%= link_to 'Destroy', library, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<br>

<% if current_user %>
  <%= link_to 'New Library', new_library_path %>
<% end %>
