<p><strong><%= @library.name %></strong></p>
<p><%= @library.description %></p>
<p>Access level: <%= @library.display_access_level %></p>
<% @library.quotes.each do |quote| %>
  <%= render "quotes/quote", quote: quote %>
<% end %>

<% if @library.owner == current_user %>
  <%= render "quotes/form" %>
  <%= link_to 'Edit', edit_library_path(@library) %> |
<% end %>

<%= link_to 'Back', libraries_path %>
